@model HomeModel
@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Saiba mais<a href="https://docs.microsoft.com/aspnet/core">
 sobre como criar aplicativos da Web com ASP.NET Core</a>.</p>
</div>
